*{
    margin: 0;
    padding: 0;
}

img{
    width: 1300px;
    height: 700px;
    filter: blur(10px);
    position: relative;
}
p{
    position: absolute;
    top: 300px;
    left: 630px;
    font-size: 40px;
    color: aqua;
}